<script lang="ts">
import Vue from 'vue';
import VueTsNavbarSimple from '@/vue-ts-navbar-simple.vue';

export default Vue.extend({
  name: 'ServeDev',
  components: {
    VueTsNavbarSimple
  }
});
</script>

<template>
  <div id="app">
    <vue-ts-navbar-simple />
  </div>
</template>
