<script lang="ts">
import Vue from 'vue';
// Uncomment import and local "components" registration if library is not registered globally.
// import { VueHeaderAndNavigationSample } from '@/entry.esm';

export default Vue.extend({
  name: 'ServeDev',
  // components: {
  //  VueHeaderAndNavigationSample,
  // }
});
</script>

<template>
  <div id="app">
    <vue-header-and-navigation-sample />
  </div>
</template>
