<script lang="ts">
import Vue from 'vue';
import PleaseLetMeVuetify from '@/please-let-me-vuetify.vue';

export default Vue.extend({
  name: 'ServeDev',
  components: {
    PleaseLetMeVuetify
  }
});
</script>

<template>
  <div id="app">
    <please-let-me-vuetify />
  </div>
</template>
