<template>
<nav :style="setBackground" :class="setFixed">
  <button @click="showMenu = !showMenu" role="button" class="mobile-btn">
    <div class="mobile-btn_stripe" :style="{background: textColor || 'inherit'}"></div>
    <div class="mobile-btn_stripe" :style="{background: textColor || 'inherit'}"></div>
    <div class="mobile-btn_stripe" :style="{background: textColor || 'inherit'}"></div>
  </button>
  <div class="nav-container">
    <a v-for="element in elements" :href="element.href || '#'"
      :key="element.title"
      :style="setTextColor">
      {{element.title}}
    </a>
  </div>
  <div class="nav-container_mobile" :style="setBackground" v-if="showMenu">
    <a v-for="element in elements" :href="element.href || '#'"
      :key="element.title"
      :style="setTextColor">
      {{element.title}}
    </a>
  </div>
</nav>
</template>

<script lang="ts">
import Vue from 'vue';

interface Data {
  showMenu: boolean
}

interface Props {
  elements: Array<{title: string, href: string}>,
  background: string,
  fixed: boolean,
  textColor: string,
}

interface Computed {
  setBackground: Record<string, string>,
  setFixed: string,
  setTextColor: Record<string, string>
}

export default Vue.extend<Data, unknown, Computed, Props>({
  name: 'NavBar',
  props: {
    background: { required: false, default: 'white' },
    elements: { required: true },
    fixed: { required: false, default: false },
    textColor: { required: false, default: 'black' },
  },
  data() {
    return {
      showMenu: false,
    };
  },
  computed: {
    setBackground() {
      return { background: `${this.background}` };
    },
    setFixed() {
      return this.fixed ? 'fixed' : '';
    },
    setTextColor() {
      return { color: `${this.textColor}` };
    },
  },
  created() {
    window.addEventListener('resize', () => {
      if (window.innerWidth < 768) this.showMenu = false;
    });
  },
});
</script>

<style scoped lang="scss">
  nav {
    display: block;
    padding: 1rem 0;
    -webkit-box-shadow: 0px 14px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 15px -10px rgba(0,0,0,0.75);
    height: 2rem;
    width: 100%;
    a {
      text-decoration: none;
      color: inherit;
      margin: 0 1rem;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .mobile-btn {
    @media(min-width: 768px) {
      display: none;
    }

    width: 1.5rem;
    margin-left: 1rem;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;

    &_stripe {
      height: .2rem;
      margin: .3rem 0;
    }
  }
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media(max-width: 768px) {
      display: none;
    }

    &_mobile {
      @media(min-width: 768px) {
      display: none;
      }
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1.5rem 0;

      a {
        margin: 1rem 0;
      }
    }
  }
  .fixed {
    position: fixed;
    top: 0;
  }
</style>
