<template>
    <v-text-field :label="label"></v-text-field>
</template>

<script lang="ts">
import Vue from 'vue';
import { VTextField } from 'vuetify/lib';

export default Vue.extend({
  components: { VTextField },
  props: {
    label: String,
  },
});
</script>
