<template>
  <vuetify-component label="Test"></vuetify-component>
</template>

<script lang="ts">
import Vue from 'vue';
import VuetifyComponent from './components/VuetifyComponent.vue';

export default Vue.extend({
  name: 'App',

  components: {
    VuetifyComponent,
  },

  data: () => ({
    //
  }),
});
</script>
